<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xc.mybatis.mapper.PersonMapper">
    <insert id="add" parameterType="com.xc.mybatis.pojo.Person" >
        insert into t_person ( name ) values (#{name,jdbcType=VARCHAR})
    </insert>

    <select id="get" parameterType="_int" resultType="com.xc.mybatis.pojo.Person">
        select * from   t_person  where id= #{id,jdbcType=INTEGER}
    </select>

</mapper>